*
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
#packery
	width: 960px
	margin: 0 auto
	font-family: "Lato", sans-serif
	.item
		background-color: #FFF
		width: 224px
		height: 224px
		.content
			padding: 10px
		h6
			font-family: "Lato", sans-serif
			color: white
			padding: 10px
			margin: 0
			text-transform: capitalize
		&.mood
			padding: 30px
			background-color: transparent
		&.widget
			background-color: #bdc3c7
		&.score
			padding: 12px
			background-color: transparent
		&.feed
			h6
				background-color: #e74c3c
		&.notes
			h6
				background-color: #1ABC9C
		&.events
			h6
				background-color: #34495e
		&.timeline
			background-color: #ecf0f1
			width: 712px
			height: 640px
		&.chat
			height: 420px
			h6
				background-color: #3498db
		&.ui-draggable-dragging, .is-positioning-post-drag
			background: #09F
			z-index: 2
