[data-namespace=login]
	background-color: #1ABC9C
	.login-screen
		padding: 0
		position: absolute
		top: 20%
		left: 38%
		.login-form
			width: 314px
			&:before
				border: none
			.login-link
				display: inline
