<%= content_for :sidebar do %>
  <nav id="secondary">
    <ul>
      <li><%= link_to t('users'), zone_users_path %></li>
      <li><%= link_to t('company'), zone_companies_path %></li>
      <li><%= link_to t('roots'), zone_roots_path %></li>
    </ul>
    
    <div id="notifications">
      <ul></ul>
    </div>
  </nav>
<% end %>