<div class="item profile">
  <%= avatar current_user.email %>
  <h5 class='nick'><%= current_user.nick %></h5>
  <div class="about">
    <div class="points">
      <span class="fui-time-16"></span> 42
    </div>
    <div class="notes">
      <span class="fui-checkmark-16"></span> 42
    </div>
    <div class="forum">
      <span class="fui-bubble-16"></span> 24
    </div>
  </div>
</div>