<div class="content">
  <header>
    <form>
      <textarea placeholder="Hey, What's Up?" name="news" cols="30" rows="1" id="news"> </textarea>
      <input type="submit" value="Postar" id="submit" class="btn btn-info right"/>
    </form>
  </header>
  <div class="notification"><span class="user">Rafael</span> atingiu 490 pontos. <span class="posted_at">Há 10 minutos atrás</span></div>
  <div class="in">
    <div class="discussion">
      <p> <span class="user">Claudia Farias:</span>Loren Ipsum color what? <span class="posted_at">Há 10 minutos atrás</span></p>
    </div>
    <ul class="comments">
      <li><span class="user">Junia:</span> Mauris consectetur elementum massa nec convallis. Integer mauris purus, condimentum vitae mattis a, vehicula lacinia justo. Pellentesque scelerisque orci at ligula cursus eu tempor elit euismod. Donec eleifend, turpis in vulputate eleifend, orci lectus eleifend quam, et ultrices mi nisi id nulla? <span class="posted_at">Há 10 minutos atrás</span></li>
      <li><span class="user">Eduardo:</span> Tá vacilando!  <span class="posted_at">Há 10 minutos atrás</span></li>
    </ul>
    <input type="text" class="new_comment" />
  </div>
  <div class="notification"><span class="user">Fabio</span> está se sentindo mal. <span class="posted_at">Há 10 minutos atrás</span></div>
  <div class="notification"><span class="user">Eduardo</span> atingiu 40 pontos. <span class="posted_at">Há 10 minutos atrás</span></div>
  <div class="in">
    <div class="discussion">
      <p><span class="user">Rafael Macedo:</span> Nullam est magna, varius nec consectetur vel, pellentesque ac justo. Vivamus commodo pellentesque ante, sed semper nulla congue non. Nunc nec augue sed nibh dapibus accumsan. Nullam in mauris quis lacus ultricies convallis. Morbi semper suscipit elit ut suscipit. Donec lobortis tellus lorem.  <br><br>
    </div>
    <ul class="comments">
      <li><span class="user">Eduardo:</span> Tá vacilando!  <span class="posted_at">Há 10 minutos atrás</span></li>
    </ul>
    <input type="text" class="new_comment" />
  </div>
  <div class="notification">Seu colega <span class="user">Claudia Farias</span> agora faz parte da Codeminer. <a href="#">Dê as boas vindas.</a> <span class="posted_at">Há 10 minutos atrás</span></div>
</div>
