<div id="packery">
  <div class="item mood"></div>
  <div class="item widget"></div>
  <div class="item notes"></div>
  <div class="item score">12</div>
  <div class="item timeline"></div>
  <div class="item feed"></div>
  <div class="item chat"></div>
</div>
