<div id="packery" ng-controller='BoardsController'>
  <div class="item mood"></div>
  <div class="item widget"></div>
  <div class="item notes"></div>
  <div class="item score">{{ score }}</div>
  <div class="item timeline nano">
		<%= render 'timeline' %>
  </div>
  <div class="item feed" id='feed'></div>
  <div class="item chat"></div>
</div>
