<div id="packery">
  <div class="item mood"><img src='/assets/icons/dead.png'></div>

  <div class="item notes">
    <h6>Notes</h6>
    <div class='content'></div>
  </div>

  <div class="item score" ng-controller='ScoresCtrl'>
    <input class='dial' data-min='-100' data-bgColor='#27ae60' data-fgColor='#2ecc71' data-thickness='.4' data-displayPrevious=true value='{{ score }}'>
  </div>

  <div class="item timer" ng-controller='JourneysCtrl'>
    <h6><%= t('boards.journey') %></h6>
    <div class='start' ng-click='start()'><a><span>&#9654;</span></a></div>
    <div class='add' ng-click='place()'><a><span>&#10133;</span></a></div>
    
    <div data-ng-show='tools.journey' data-ng-animate="'fade'">
      <div class='tooltip fade bottom in journey'>
        <div class="tooltip-arrow"></div>
        <div class="tooltip-inner">
          <h6><%= t('add_hours') %></h6>
          <input type="text" class="span3" name='hours' placeholder="00:00">
          <input type="text" class="span3" name='project' placeholder="Project">
          <a class="btn btn-block btn-success" href="#">Save?</a>
        </div>
      </div>
    </div>

  </div>

  <div class="item discourse">
    <p> <span class="user">Claudia Farias: </span>Loren Ipsum color what? <span class="posted_at">H치 10 minutos atr치s</span></p>
  </div>

  <div class="item discourse">
    <p> <span class="user">Claudia Farias: </span>Mauris consectetur elementum massa nec convallis. Integer mauris purus, condimentum vitae mattis a, vehicula lacinia justo. Pellentesque scelerisque orci at ligula cursus eu tempor elit euismod. Donec eleifend, turpis in vulputate eleifend, orci lectus eleifend quam, et ultrices mi nisi id nulla?  <span class="posted_at">H치 10 minutos atr치s</span></p>
  </div>
  
  <div class="item feed" id='feed'>
    <h6>News</h6>
    <div class="content"></div>
  </div>

  <div class="item events">
    <h6>Events</h6>
    <div class="content"></div>
  </div>
  
  <div class="item chat">
  	<h6>Chat</h6>
  	<div class="content"></div>
  </div>
</div>
